body {
  width: 100%;
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.glassmorphism-light,
.glassmorphism-dark {
  border: 1px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.4);
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
  cursor: pointer;
  transition: transform 0.3s;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  height: 250px;

}

.card:hover {
  transform: scale(1.05);
}

.profile {
  cursor: alias;
}

.profile .card-body {
  height: 100px;
}

.profile .card-img-top {
  height: 400px;
  object-fit: cover;
}